Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

lint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

chore(release): 3.7.2 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  6b1d0954118785e2ba665d92b542148238ff0819
Due: none

fix(publisher): stream npm login output live instead of buffering it
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

fix(publisher): stream npm login output live instead of buffering it (#1577)
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

chore(release): 3.7.3 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  b6e20e92f0cce56994d13a766e8ab2d8097cabf6
Due: none

fix(publisher): use --auth-type=web for npm publish, not just npm login
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

fix(publisher): use --auth-type=web for npm publish, not just npm login (#1578)
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

chore(release): 3.7.4 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  278408abe616ae219867640a755fa27caf7fa81e
Due: none

fix(publisher): implement npm's web-auth OTP polling for publish
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

fix(publisher): implement npm's web-auth OTP polling for publish (#1579)
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

chore(release): 3.7.5 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  82be5974db04359cc0dcc8eabaa85b641b109988
Due: none

fix(publisher): surface the doneUrl response body on OTP poll failures
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

chore(publisher): surface the doneUrl response body on OTP poll failures (#1580)
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

fix(workflow): don't let a bootstrap failure skip the rest of the publish job
  .github/workflows/publish_generated_packages.yml
Due: format

ci: don't let a bootstrap failure skip the rest of the publish job (#1581)
  .github/workflows/publish_generated_packages.yml
Due: format

fix(publisher): authenticate the OTP doneUrl poll as the logged-in npm session
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

fix(publisher): authenticate the OTP doneUrl poll as the logged-in npm session (#1582)
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

chore(release): 3.7.6 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  758af119e7b68cd35292e0164a6d6665b56904a6
Due: none

fix(publisher): drop CI-side OTP polling, bootstrap new packages locally instead
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
  src/cli.ts
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

fix(publisher): drop CI-side OTP polling, bootstrap new packages locally instead (#1583)
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
  src/cli.ts
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
Due: format, lint

chore(release): 3.7.7 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  99926728ba838cfc639e37dba4fb8be7dd7917f2
Due: none

chore: update published schema flags
  schema-lock.json
Due: format

chore(release): 3.7.8 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  2e245ef8ef6ffe5f21f002b5be2c5c2de8f51970
Due: none

chore(schema-lock): update published flags
  schema-lock.json
Due: format

feat(publisher): configure npm trusted publisher automatically after bootstrap
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

feat(publisher): configure npm trusted publisher automatically after bootstrap (#1594)
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

chore(release): 3.8.0 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  4e08125599776630e8954348771ff44732623a53
Due: none

chore: Remove eslint
  .github/dependabot.yml
  .prettierignore
  lefthook.yml
  package.json
  yarn.lock
Due: format

chore(deps): Pin TypeScript to 6.x
  .github/dependabot.yml
Due: format

chore(deps): bump yarn to version 4.17.1
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  package.json
Due: format

Path conditions:
  format: any of: *.{json,md,yml,ts}
  lint: any of: src/*.ts
