Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

lint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

chore(release): 3.4.3 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  a2cbd3fc03805eaf8bd1de6edf9454d030e9052d
Due: none

chore(deps): bump yarn to version 4.16.0
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
Due: format

chore(deps-dev): Bump semantic-release to 25.0.5
  package.json
  yarn.lock
Due: format

chore(release): 3.4.4 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  7beec85918691349ed75a29c0efed9fcf08e390b
Due: none

chore(schema-lock): update published flags
  schema-lock.json
Due: format

fix: Do not cancel publishing after 10 packages
  src/publisher.ts
Due: format, lint

chore(release): 3.4.5 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  f735882e50bcf00548ae52802201f2e988d77b61
Due: none

chore(release): 3.4.6 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  be6b5369d85de31feb4a7190f32ab2a568a76cfe
Due: none

chore(release): 3.4.7 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  89f784d6ff9c5cd4a71ba60d17b4bd9a87f91b1d
Due: none

chore(deps): block only next major in dependabot ignore rules [ci skip]
  .github/dependabot.yml
Due: format

chore(release): 3.4.8 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  5a21ca63432e45769cd01f2bf8b964700f102826
Due: none

chore(schemas): weekly schema update
  pr-body.md
  schema-lock.json
  schemas/codex-hooks/README.md
  schemas/codex-hooks/index.d.ts
  schemas/commit-check/LICENSE
  schemas/commit-check/README.md
  schemas/commit-check/index.d.ts
  schemas/commit-check/package.json
  schemas/tunnelhub/README.md
  schemas/tunnelhub/index.d.ts
  schemas/tunnelhub/package.json
Due: format

fix(deps): Bump undici to 7.28.0
  yarn.lock
Due: none

chore(release): 3.4.9 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  038215a9e50fbdde8fb41bd63cceea27bb756399
Due: none

ci: Group ffflorian/actions updates [ci skip]
  .github/dependabot.yml
Due: format

chore(release): 3.4.10 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  c97f20ff1a5d027de1a479bf3bc16268a00d479b
Due: none

chore(deps-dev): Bump @types/node to ~26
  package.json
  yarn.lock
Due: format

chore(release): 3.4.11 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  16011c87a5cdae54fbe6f9956500fa0ba5e212a8
Due: none

feat: Add mark-published command
  .gitignore
  package.json
  src/cli.ts
Due: format, lint

re-use LOCK_FILE_NAME
  src/cli.ts
  src/updater.ts
Due: format, lint

formatting
  src/cli.ts
Due: format, lint

feat: Add mark-published command (#1540)
  .gitignore
  package.json
  src/cli.ts
  src/updater.ts
Due: format, lint

chore(release): 3.5.0 [skip ci]
  CHANGELOG.md
Due: format

Path conditions:
  format: any of: *.{json,md,yml,ts}
  lint: any of: src/*.ts
