Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{json,md,yml,ts}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: 'src/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

fix linting
  src/updater.ts
Due: format, lint

feat: add --schema option and fix type-check for generated declarations
  src/cli.ts
  src/types.ts
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

linting
  src/updater.ts
Due: format, lint

feat: add --schema option and fix type-check for generated declarations (#1403)
  src/cli.ts
  src/types.ts
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

feat: deduplicate generated types and fix index signature compatibility
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

feat: deduplicate generated types and fix index signature compatibility (#1404)
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

feat: add workflow to force regenerate all schemas
  .github/workflows/force_regenerate_schemas.yml
Due: format

feat: add workflow to force regenerate all schemas (#1405)
  .github/workflows/force_regenerate_schemas.yml
Due: format

docs: Update AGENTS.md with latest knowledge
  AGENTS.md
Due: format

chore(schema-lock): update published flags
  schema-lock.json
Due: format

docs: Update AGENTS.md [ci skip]
  AGENTS.md
Due: format

fix: preserve lock entry for schemas that fail to build
  AGENTS.md
  schema-lock.json
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

fix: preserve lock entry for schemas that fail to build (#1408)
  AGENTS.md
  schema-lock.json
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

chore: Publish @schemastore/maestro-flow@1.0.0
  schema-lock.json
Due: format

refactor: Use await ... .catch()
  src/updater.ts
Due: format, lint

docs: Remove try/catch instruction in AGENTS.md [ci skip]
  AGENTS.md
Due: format

fix: update test expectation for repository object format
  tests/updater.test.ts
Due: format

docs: Add CLAUDE.md [ci skip]
  AGENTS.md
  CLAUDE.md
Due: format

docs: Link CLAUDE.md to AGENTS.md [ci skip]
  CLAUDE.md
Due: format

chore: Let prettier ignore CLAUDE.md [ci skip]
  .prettierignore
Due: none

chore: Let lefthook ignore CLAUDE.md
  lefthook.yml
Due: format

chore: add semantic-release with @ffflorian/semantic-release-config
  .github/workflows/release.yml
  .releaserc.json
  package.json
  yarn.lock
Due: format

move release to build_lint_test script
  .github/workflows/lint_test_build.yml
  .github/workflows/release.yml
Due: format

chore: use default semantic-release config with changelog and git plugins
  .releaserc.json
  package.json
  yarn.lock
Due: format

docs: update AGENTS.md with semantic-release setup
  AGENTS.md
Due: format

chore: remove @semantic-release/npm plugin (package is private)
  .releaserc.json
  AGENTS.md
Due: format

chore: add semantic-release (#1411)
  .github/workflows/lint_test_build.yml
  .releaserc.json
  AGENTS.md
  package.json
  yarn.lock
Due: format

chore: add semantic-release with @ffflorian/semantic-release-config
  .github/workflows/release.yml
Due: format

move release to build_lint_test script
  .github/workflows/release.yml
Due: format

fix(ci): fix semantic-release token, permissions, and PR guard
  .github/workflows/lint_test_build.yml
Due: format

Update lint_test_build.yml
  .github/workflows/lint_test_build.yml
Due: format

fix(ci): fix semantic-release token, permissions, and PR guard (#1412)
  .github/workflows/lint_test_build.yml
Due: format

Notes added by 'git notes add'
  ef8802c83b9433e6a38d66a606a1bdf54724cf19
Due: none

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
Due: format
