Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{json,md,yml,ts}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: 'src/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

chore: Update CodeQL analysis workflow configuration (#1319)
  .github/workflows/codeql.yml
Due: format

chore: Use swc
  package.json
  tsconfig.json
  yarn.lock
Due: format

chore(deps): Pin eslint to 8.x
  .github/dependabot.yml
Due: format

chore: Use new caching mechanism
  .github/workflows/build_test_publish.yml
Due: format

chore: Fix lockfile
  schemas/json-schemas.lock
Due: none

chore: Use Node.js 24
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: format

chore: Update yarn to 4.9.2
  .yarn/releases/yarn-4.2.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: format

chore: Remove yarn setup
  .github/workflows/build_test_publish.yml
Due: format

feat: Remove fs-extra (#1293)
  package.json
  src/SchemaGenerator.ts
  src/cli.ts
  yarn.lock
Due: format, lint

fix: logdown import
  schemas/github-workflow/index.d.ts
  schemas/gitlab-ci/index.d.ts
  schemas/json-schemas.lock
  src/SchemaGenerator.ts
Due: format, lint

refactor: Import from fs/promises (#1318)
  src/SchemaGenerator.ts
  src/cli.ts
Due: format, lint

chore: Use tsx instead of ts-node
  package.json
  tsconfig.json
  tsconfig.schemas.json
  yarn.lock
Due: format

chore(deps): Update yarn to 4.12.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: format

chore: Remove unused dependencies
  package.json
  yarn.lock
Due: format

chore: Add npmPublishAccess and defaultSemverRangePrefix to yarn config
  .yarnrc.yml
Due: format

chore(deps): Update yarn lockfile
  yarn.lock
Due: none

chore: Add Codeberg mirror
  .github/workflows/codeberg_mirror.yml
Due: format

chore: Rename GitLab mirror action
  .github/workflows/gitlab_mirror.yml
Due: format

chore: Remove basic CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: format

chore: Use commit hashes for actions versions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/gitlab_mirror.yml
Due: format

chore: Fix CodeQL action hash
  .github/workflows/codeql.yml
Due: format

chore: Rename GitLab secret
  .github/workflows/gitlab_mirror.yml
Due: format

chore: Use git mirror for GitLab and Codeberg
  .github/workflows/codeberg_mirror.yml
  .github/workflows/git_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: format

chore: Add yarn update action
  .github/workflows/yarn_update.yml
Due: format

chore: Update ESLint
  .eslintrc.json
  .github/dependabot.yml
  .oxlintrc.json
  eslint.config.ts
  package.json
  src/SchemaGenerator.ts
  src/cli.ts
  src/interfaces.ts
  tsconfig.json
  yarn.lock
Due: format, lint

chore: Update ESLint (#1356)
  .eslintrc.json
  .github/dependabot.yml
  .oxlintrc.json
  eslint.config.ts
  package.json
  src/SchemaGenerator.ts
  src/cli.ts
  src/interfaces.ts
  tsconfig.json
  yarn.lock
Due: format, lint

chore: Create pull request only if yarn version is outdated
  .github/workflows/yarn_update.yml
Due: format

chore: Push only main branch to git mirror
  .github/workflows/git_mirror.yml
Due: format

chore: Don't run yarn check on main branch
  .github/workflows/yarn_update.yml
Due: format

chore(deps): bump yarn to version 4.13.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: format

chore: Don't lint .yarnrc.yml
  .prettierignore
Due: none

feat: Log errors directly to log file
  README.md
  package.json
  src/publisher.ts
  src/updater.ts
  tests/publisher.test.ts
  tests/updater.test.ts
Due: format, lint

docs: Update readme [ci skip]
  README.md
Due: format

feat: Skip published schemas
  schema-lock.json
  src/publisher.ts
  src/types.ts
  src/updater.ts
  tests/publisher.test.ts
  tests/updater.test.ts
Due: format, lint

chore: Create PR with updated lock file, improve tests
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
  tests/updater.test.ts
Due: format

refactor: linting
  tests/updater.test.ts
Due: format
