Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{json,md,yml,ts}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: 'src/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

chore(schema-lock): update published flags
  schema-lock.json
Due: format

update schema publish flags
  schema-lock.json
Due: format

chore(release): 3.8.1 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  158511da65242a2b6ced804b0cd5de68aafb6590
Due: none

chore(release): 3.8.2 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  74d218f04691558c874fe8779c8f37fc96b5cd03
Due: none

chore(deps): bump yarn to version 4.18.0
  .yarn/releases/yarn-4.17.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
Due: format

chore(release): 3.8.3 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  5371f4b77cf449176fe903bebe8cc54da2babfa6
Due: none

chore(schemas): weekly schema update
  schema-lock.json
  schemas/claude-code-settings/README.md
  schemas/claude-code-settings/index.d.ts
  schemas/claude-code-settings/package.json
  schemas/gematik-test-hcpis/README.md
  schemas/gematik-test-hcpis/package.json
  schemas/global/README.md
  schemas/global/index.d.ts
  schemas/global/package.json
  schemas/pnpm-workspace/README.md
  schemas/pnpm-workspace/index.d.ts
  schemas/pnpm-workspace/package.json
  schemas/tombi/README.md
  schemas/tombi/index.d.ts
  schemas/tombi/package.json
Due: format

chore(schemas): weekly schema update
  schema-lock.json
  schemas/appveyor/README.md
  schemas/appveyor/index.d.ts
  schemas/appveyor/package.json
  schemas/helmfile/README.md
  schemas/helmfile/index.d.ts
  schemas/helmfile/package.json
  schemas/jsontron-0.1/LICENSE
  schemas/jsontron-0.1/README.md
  schemas/jsontron-0.1/index.d.ts
  schemas/jsontron-0.1/package.json
  schemas/okf-0.2/LICENSE
  schemas/okf-0.2/README.md
  schemas/okf-0.2/index.d.ts
  schemas/okf-0.2/package.json
  schemas/prek/README.md
  schemas/prek/index.d.ts
  schemas/publiccode/README.md
  schemas/publiccode/index.d.ts
  schemas/publiccode/package.json
  schemas/ruff/README.md
  schemas/ruff/index.d.ts
  schemas/ruff/package.json
  schemas/specmatic/README.md
  schemas/specmatic/package.json
  schemas/tombi/README.md
  schemas/tombi/index.d.ts
  schemas/tombi/package.json
  schemas/youtrack-app/README.md
  schemas/youtrack-app/package.json
Due: format

chore(deps): Bump undici to 7.29.0
  yarn.lock
Due: none

chore(schemas): weekly schema update
  schema-lock.json
  schemas/abc-clinical-demand-forecast-5.1.0/LICENSE
  schemas/abc-clinical-demand-forecast-5.1.0/README.md
  schemas/abc-clinical-demand-forecast-5.1.0/index.d.ts
  schemas/abc-clinical-demand-forecast-5.1.0/package.json
  schemas/abc-inventory-module-data-5.4.0/LICENSE
  schemas/abc-inventory-module-data-5.4.0/README.md
  schemas/abc-inventory-module-data-5.4.0/index.d.ts
  schemas/abc-inventory-module-data-5.4.0/package.json
  schemas/abc-supply-plan-14.1.0/LICENSE
  schemas/abc-supply-plan-14.1.0/README.md
  schemas/abc-supply-plan-14.1.0/index.d.ts
  schemas/abc-supply-plan-14.1.0/package.json
  schemas/appveyor/README.md
  schemas/appveyor/index.d.ts
  schemas/appveyor/package.json
  schemas/drupal-services/README.md
  schemas/drupal-services/index.d.ts
  schemas/drupal-services/package.json
  schemas/github-workflow-template-properties/README.md
  schemas/github-workflow-template-properties/index.d.ts
  schemas/github-workflow-template-properties/package.json
  schemas/pnpm-workspace/README.md
  schemas/pnpm-workspace/index.d.ts
  schemas/pnpm-workspace/package.json
  schemas/scarb/README.md
  schemas/scarb/index.d.ts
Due: format

chore(schema-lock): update published flags
  schema-lock.json
  schemas/clasp/package.json
Due: format

chore(release): 3.8.4 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  63c85110ea408991352bf6d795665455064b0fda
Due: none

chore(release): 3.8.5 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  e939db239d3b71825a9127a9ba3628c8e6b068a7
Due: none

refactor: drop obsolete index-signature workaround for json-schema-to-typescript 16
  AGENTS.md
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

fix(deps): bump json-schema-to-typescript from 15.0.4 to 16.0.0 (#1640)
  AGENTS.md
  package.json
  src/updater.ts
  tests/updater.test.ts
  yarn.lock
Due: format, lint

chore(release): 3.8.6 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  eb6be9791afbfee33b8e9c1480a1b68a400e4a43
Due: none

add vite
  package.json
  yarn.lock
Due: format

chore(release): 3.8.7 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  b224f93caa8f474828e303aedf8e3a04cea87467
Due: none

fix(updater): deduplicate numbered interface variants and cascading renames
  AGENTS.md
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

chore(release): 3.8.8 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  660257dd29113cf063b3b9a386daf522b66c5b0d
Due: none
