Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

lint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

chore(schema-lock): update published flags
  schema-lock.json
Due: format

feat: Add summary tag to updater PRs
  src/publisher.ts
  src/updater.ts
Due: format, lint

chore(release): 3.4.0 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  840fd7c6b9db0752014debcf6d770b0c89362e9d
Due: none

refactor: Multiple push for better readability
  src/publisher.ts
Due: format, lint

chore(schemas): weekly schema update
  pr-body.md
  schema-lock.json
  schemas/dependabot-2.0/README.md
  schemas/dependabot-2.0/package.json
  schemas/jsconfig/README.md
  schemas/jsconfig/index.d.ts
  schemas/jsconfig/package.json
  schemas/prek/README.md
  schemas/prek/index.d.ts
  schemas/prek/package.json
  schemas/tox/README.md
  schemas/tox/index.d.ts
  schemas/tox/package.json
  schemas/youtrack-app/README.md
  schemas/youtrack-app/package.json
Due: format

chore: Check weekly for dependency updates
  .github/dependabot.yml
Due: format

chore: Add release cooldown for yarn update
  .github/workflows/yarn_update.yml
Due: format

chore: Use Node 26
  .github/dependabot.yml
  .github/workflows/force_regenerate_schemas.yml
  .github/workflows/lint_test_publish.yml
  .github/workflows/publish_generated_packages.yml
  .github/workflows/weekly_schema_update.yml
  package.json
  yarn.lock
Due: format

ci: Update yarn-update workflow
  .github/workflows/yarn_update.yml
Due: format

chore(deps): bump yarn to version 4.15.0
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: format

update workflows
  .github/workflows/force_release.yml
  .github/workflows/yarn_update.yml
Due: format

add name
  .github/workflows/force_release.yml
Due: format

chore: Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: format

chore(schemas): weekly schema update
  pr-body.md
  schema-lock.json
  schemas/claude-code-keybindings/README.md
  schemas/claude-code-keybindings/index.d.ts
  schemas/claude-code-keybindings/package.json
  schemas/pnpm-workspace/README.md
  schemas/pnpm-workspace/index.d.ts
  schemas/pnpm-workspace/package.json
  schemas/uv/README.md
  schemas/uv/index.d.ts
  schemas/uv/package.json
Due: format

update publish flags
  schema-lock.json
Due: format

fix: replace date-fns with Intl.DateTimeFormat, remove dependency (#1492)
  package.json
  src/updater.ts
  yarn.lock
Due: format, lint

chore(release): 3.4.1 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  ad7ccc7a15b83f771beb7a28074a7b86b518158b
Due: none

chore: Group oxlint updates [ci skip]
  .github/dependabot.yml
Due: format

ci: Update yarn_update workflow [ci skip]
  .github/workflows/yarn_update.yml
Due: format

ci: Update force_release workflow [ci skip]
  .github/workflows/force_release.yml
Due: format

ci: Update git_mirror workflow [ci skip]
  .github/workflows/git_mirror.yml
Due: format

chore: Update dependabot config [ci skip]
  .github/dependabot.yml
Due: format

chore(release): 3.4.2 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  a3e1ab26ee88e7cee5f71716b9a1b2201cc43a95
Due: none

ci: Rename main workflow
  .github/workflows/main.yml
Due: format

Path conditions:
  format: any of: *.{json,md,yml,ts}
  lint: any of: src/*.ts
