Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{json,md,yml,ts}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: 'src/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  20e02982699070f1814b5c05aef63a71a6a5f05b
Due: none

fix: Mark only one key as published
  src/cli.ts
Due: format, lint

chore(release): 3.5.1 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  3378c5222af88cbc6bcd91964cb785ee959e2cdd
Due: none

fix(deps): Bump vite to 8.1.1
  yarn.lock
Due: none

chore(release): 3.5.2 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  640684fb41bfee685cffcd836eb6bfaa2fa5e1ec
Due: none

chore(deps): bump yarn to version 4.17.0
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: format

chore(release): 3.5.3 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  60ac390adbb798fd94b65d07fef3f86ca16637e8
Due: none

chore(release): 3.5.4 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  8fe25f7d43596b4d013aedc0f94825b6cd6859bb
Due: none

chore(schemas): weekly schema update
  pr-body.md
  schema-lock.json
  schemas/aurora-2.0/LICENSE
  schemas/aurora-2.0/README.md
  schemas/aurora-2.0/index.d.ts
  schemas/aurora-2.0/package.json
  schemas/claude-code-keybindings/README.md
  schemas/claude-code-keybindings/index.d.ts
  schemas/claude-code-keybindings/package.json
  schemas/claude-code-settings/README.md
  schemas/claude-code-settings/index.d.ts
  schemas/claude-code-settings/package.json
  schemas/codex-hooks/README.md
  schemas/codex-hooks/index.d.ts
  schemas/codex-hooks/package.json
  schemas/evidence-bundle/LICENSE
  schemas/evidence-bundle/README.md
  schemas/evidence-bundle/index.d.ts
  schemas/evidence-bundle/package.json
  schemas/jsconfig/README.md
  schemas/jsconfig/index.d.ts
  schemas/jsconfig/package.json
  schemas/paper-plugin/README.md
  schemas/paper-plugin/index.d.ts
  schemas/paper-plugin/package.json
  schemas/partial-poe/README.md
  schemas/partial-poe/index.d.ts
  schemas/partial-poe/package.json
  schemas/prek/README.md
  schemas/prek/index.d.ts
  schemas/prek/package.json
  schemas/problem_package_generators/LICENSE
  schemas/problem_package_generators/README.md
  schemas/problem_package_generators/index.d.ts
  schemas/problem_package_generators/package.json
  schemas/tsconfig/README.md
  schemas/tsconfig/index.d.ts
Due: format

chore(schema-lock): update published flags
  schema-lock.json
Due: format

refactor: TypeScript 7.0
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: format

rename workflow
  .github/workflows/main.yml
Due: format

feat(publisher): switch to npm stage publish with OIDC-first, token-fallback auth
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
  src/cli.ts
  src/publisher.ts
  src/types.ts
  tests/publisher.stage-publish.test.ts
  tests/publisher.test.ts
Due: format, lint

feat(publisher): switch to npm stage publish with OIDC-first, token-fallback auth (#1570)
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
  src/cli.ts
  src/publisher.ts
  src/types.ts
  tests/publisher.stage-publish.test.ts
  tests/publisher.test.ts
Due: format, lint

chore(release): 3.6.0 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  bd4a4e9a005b7547ae639c39ea4fcd7bb7298189
Due: none

docs: Delete pr-body.md [ci skip]
  pr-body.md
Due: format

docs: clarify NPM_TOKEN fallback cannot bootstrap brand-new packages
  AGENTS.md
  README.md
  src/publisher.ts
Due: format, lint

docs: clarify NPM_TOKEN fallback cannot bootstrap brand-new packages (#1571)
  AGENTS.md
  README.md
  src/publisher.ts
Due: format, lint

chore(release): 3.6.1 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  dbbcd53f8359fc50d908b70df6effa0677c44f0d
Due: none

feat(workflow): add manual npm browser-login bootstrap for brand-new packages
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
Due: format

feat(publisher): auto-detect brand-new packages to bootstrap instead of a manual list
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
  package.json
  src/cli.ts
  src/publisher.ts
  src/types.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

feat(publisher): auto-detect and bootstrap brand-new packages via npm browser login (#1573)
  .github/workflows/publish_generated_packages.yml
  AGENTS.md
  README.md
  package.json
  src/cli.ts
  src/publisher.ts
  src/types.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

chore(release): 3.7.0 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  25914a44dbc7303487a5f4fcaf110c59d6a37e16
Due: none

fix(publisher): explicitly npm login before publishing brand-new packages
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

fix(publisher): explicitly npm login before publishing brand-new packages (#1576)
  AGENTS.md
  README.md
  src/publisher.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.test.ts
Due: format, lint

chore(release): 3.7.1 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  7bbe0c4aa20c33c554afa7418b72b379bd8345f2
Due: none
