Repository ffflorian/schemastore-updater: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{json,md,yml,ts}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: 'src/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

fix: Simplify types
  AGENTS.md
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

fix: Simplify types (#1653)
  AGENTS.md
  src/updater.ts
  tests/updater.test.ts
Due: format, lint

chore(release): 3.8.9 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  35050bcc7eecb4848ead0c76542a902d0b07454f
Due: none

chore: Add timezone to workflow cron settings [ci skip]
  .github/workflows/weekly_schema_update.yml
  .github/workflows/yarn_update.yml
Due: format

chore: Replace prettier with oxfmt
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  src/cli.ts
  src/updater.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.stage-publish.test.ts
  tsconfig.json
  yarn.lock
Due: format, lint

chore: Replace prettier with oxfmt (#1662)
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  src/cli.ts
  src/updater.ts
  tests/publisher.bootstrap.test.ts
  tests/publisher.stage-publish.test.ts
  tsconfig.json
  yarn.lock
Due: format, lint

chore: Remove prettier ignore file
  .prettierignore
Due: none

chore(deps): Bump @ffflorian/oxfmt-config to 1.3.0
  oxfmt.config.ts
  package.json
  yarn.lock
Due: format

chore(release): 3.8.10 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  ab48c34c2c0e0d7bae4799d9cdd2df0b0071e693
Due: none

chore(deps): bump yarn to version 4.18.1
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
Due: format

chore(release): 3.8.11 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  7761b4a1fbe44eab90c6b56e5be2033c45a8ed1b
Due: none

chore(release): 3.8.12 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  abd4985ad6e61708b55e40da2f3706e58fc970d8
Due: none
